body{
    margin:0
}
.share_url{
    width: 24px !important;
    height: 24px !important;
    position: absolute;
    right: 10px;
    top: 10px;
}
@font-face {
    src: url(./fonts/PTSans-Regular.ttf);
    font-family: "ptsans";
}
@font-face {
    src: url(./fonts/PatuaOne-Regular.ttf);
    font-family: PatuaOne;
}