
@font-face {
    src: url(../assets/fonts/PTSans.ttc);
    font-family: "ptsans";
}
@font-face {
    src: url(../assets/fonts/fonts/ARENAC.TTF);
    font-family: "arena";
}
section {
    display: block;
    font-family: "ptsans"
}
section .banner{
    width:100%;
    height:auto
}
section .banner-empty{
    width: 100%;
    height: 300px;
    background: #8080804f;
}
section .info{
    text-align: left;
    width: 80%;
    background-color: white;
    position: relative;
    top: -30px;
    font-family: "ptsans";
    left: 20%;
   
}

section .info .titulo{
    font-size: 1.5em;
    font-weight: 600;
}
section .info .cuerpo{
   padding-right:20px;
}



