@font-face {
    src: url(./fonts/PTSans-Regular.ttf);
    font-family: "ptsans";
}
@font-face {
    src: url(./fonts/PTSans-Regular.ttf);
    font-family: "arena";
}
body {
    margin: 5px;
    overflow: hidden;
}
.divider {
    margin: 4px;
    display: block;
}
.menu {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "A B C";
}
.menu .weather {
    font-family: "ptsans";
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.weather .data {
    position: absolute;
    top: 0;
    z-index: 100;
    background: #feee00;
    font-size: 12px;
    padding: 0 5px;
}
.weather .temp {
    grid-area: "A";
    font-weight: 600;
    margin-left: 5px;
}
.weather img {
    margin-left: 5px;
}
.menu .logo {
    padding: 3px;
}
.menu .logo img {
    width: 100px;
}
.menu .social {
    color: #feee00;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}
.header-notices {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    background-color: #000000;
}
.header-notices .region {
    font-family: "ptsans";
    text-align: center;
    position: relative;
    color: white;
    padding: 5px;
    font-weight: 600;
}
.container_clock {
    background: linear-gradient(45deg, #6b6666, #000000f5);
    display: flex;
    align-items: center;
    justify-content: center;
}
.container_clock .hrs {
    font-family: "ptsans";
    display: flex;
    align-items: center;
    padding: 2px;
}

.hrs span {
    width: 15px;
    background: red;
    height: 15px;
    border-radius: 50%;
    margin: 5px;
}
/* tombola */
.slot_container {
    font-family: "ptsans";
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 200px;
    position: relative;
}
.container {
    /* position: relative; */
    overflow-x: hidden;
    /* margin-left: 5px;
    margin-right: 5px; */
}
.containerScroller {
    position: relative;
}
.containerScroller .overlay {
    background: linear-gradient(to top, #868484, transparent);
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 0;
    z-index: 100;
}
.slot_container .place {
    display: block;
    -webkit-overflow-scrolling: touch;
    position: relative;
    box-shadow: inset 0 0 1 0px #000000;
    z-index: 10;
}
.slot_container .place::-webkit-scrollbar {
    display: none;
}
.place {
    overflow-x: hidden;
}
.place .shadownews {
    -webkit-overflow-scrolling: touch;
    border-right: 2px #a5a0a0 solid;
    border-bottom: 2px #777676 solid;
    background-color: #ededed;
    position: relative;
    box-shadow: inset 1px 1px 10px rgba(128, 128, 128, 0.438);
    margin-bottom: 4px;
    min-height: 70%;
    padding: 10px 5px;
}
.shadownews:hover {
    background-color: #feee00;
}
.shadownews:hover .date,
.shadownews:hover .title {
    color: white;
}
.shadownews:hover .district,
.shadownews:hover .clearfix {
    background-color: white;
}
.shadownews.empty {
    min-height: calc(30% - 30px) !important;
}
.shadownews.center {
    border-right: 2px #777676 solid;
    border-bottom: 2px #777676 solid;
    margin-left: 2px;
    margin-right: 2px;
}
.shadownews .title {
    font-size: 14px;
}
.shadownews .date {
    color: #5b5b5f;
}
.shadownews .footer {
    position: absolute;
    bottom: 10px;
}
.shadownews .district {
    background-color: black;
    padding: 2px 5px;
    margin-bottom: 5px;
    font-size: 10px;
    color: #feee00;
}
.shadownews .clearfix {
    width: 40%;
    height: 3px;
    background-color: #000000;
}

.slick-carousel img {
    height: 200px;
}

.slider-container {
    overflow: hidden;
    height: 200px;
    width: 100%;
}

.valor {
    display: flex;
    /* align-items: center;
    justify-content: center; */
}

#owl-demo .titulo {
    font-family: "arena";
    font-weight: 600;
    font-size: 18px;
    max-width: 67%;
    position: absolute;
    bottom: 20px;
    background-color: #feee00;
    right: 0;
    line-height: 25px;
    padding: 5px;
}

#owl-demo .item img {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    max-height: 200px;
}

.socialmedia_modal,
.buscar_modal {
    visibility: hidden;
    background: #000000d6;
    position: fixed;
    width: 100vw;
    height: 100%;
    z-index: 1000;
    margin: -5px;
    top: -100%;
    transition: 0.5s all;
}
.socialmedia_modal.active,
.buscar_modal.active {
    visibility: visible;
    top: 5px;
}
.socialmedia_modal .close,
.buscar_modal .close {
    cursor: pointer;
    width: 24px;
    right: 10px;
    position: absolute;
    bottom: 10px;
}

/* modales */
.socialmedia_modal .content-sm,
.buscar_modal .content-sm {
    position: relative;
    display: block;
    justify-content: center;
    top: 30%;
    text-align: center;
    margin: auto;
    width: 55%;
    font-family: ptsans;
}
.content-sm.src {
    width: 75%;
    top: 40%;
}
.src input {
    text-align: center;
    font-family: ptsans;
    font-size: 15px;
    color: #fff;
    width: 80%;
    padding: 0 10px;
    height: 35px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: transparent;
    font-size: 1.2em;
}
.src input:focus {
    outline: none;
}
.src button {
    margin: 20px;
    font-size: 15px;
    background: #feee00;
    border: none;
    font-size: 1em;
    width: 150px;
    padding: 10px 20px;
    border-radius: 15px;
}
.src button:hover {
    color: #feee00;
    background-color: #fff;
}
.src button:focus {
    outline: none;
}
.socialmedia_modal .linea {
    height: 1px;
    position: relative;
    background-color: #feee00;
}

.content-sm .social-name {
    margin: 20px;
    display: grid;
    gap: 20px;
}

.social-name span {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #feee00;
}
/* publicidad */
.publicidad {
    position: fixed;
    z-index: 999;
    top: 0;
    border: 5px solid #feee00;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    left: 0;
    overflow: hidden;
    display: none;
}
.publicidad img {
    width: 100%;
    height: 100%;
}

.publicidad .cerrarPpal {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    width: 24px;
}
/* responsive */

@media (max-width: 320px) {
    .container_clock .hrs {
        font-size: 12px;
    }
}
