@font-face {
    src: url(./fonts/PTSans-Regular.ttf);
    font-family: "ptsans";
}
@font-face {
    src: url(../assets/fonts/fonts/ARENAC.TTF);
    font-family: "arena";
}
body {
    overflow: auto;
}
section {
    display: block;
    font-family: "ptsans";
    position: relative;
}
section .banner {
    width: 100%;
    height: auto;
}
section .banner-empty {
    width: 100%;
    height: 200px;
    background: #8080804f;
}
section .info {
    text-align: left;
    width: 90%;
    background-color: white;
    position: relative;
    top: -30px;
    font-family: "ptsans";
    left: 10%;
    position: relative;
}
section .imagen .time {
    margin: 5px 0;
    font-size: 14px;
}
section .info .titulo {
    font-size: 1.5em;
    font-weight: 600;
    padding: 5px 10px;
}
section .info .cuerpo {
    color: #444242;
    font-size: 13px;
    padding-left: 5px;
    padding-right: 40px;
}

section .info .share {
    position: absolute;
    top: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #feee00;
    height: 100px;
    width: 35px;
    right: 0;
    align-items: center;
}
.notFound {
   
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: ptsans;
    color: #feee00;
    height: calc(100vh - 230px);
    justify-content: center;
}

.scroller {
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: center;
}
.scroller img {
    animation: 1s fadeOutDown infinite;
}

.scroller_back {
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: center;
}
.scroller_back img {
    animation: .7s fadeInRight infinite;
}
@keyframes fadeOutDown {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
