@import url('https://fonts.googleapis.com/css?family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');

body{
    margin:0
}
.share_url{
    width: 24px !important;
    height: 24px !important;
    position: absolute;
    right: 10px;
    top: 10px;
}
.share_url_banner{
    width: 24px !important;
    height: 24px !important;
    position: absolute;
    right: 10px;
    display: flex;
    top: 10px;
    z-index: 2;
}

.socialmedia_modal,
.buscar_modal {
    visibility: hidden;
    background: #000000d6;
    position: fixed;
    width: 100vw;
    height: 100%;
    z-index: 1000;
    margin-left: -6px;
    top: -100%;
    transition: 0.5s all;
}
.socialmedia_modal.active,
.buscar_modal.active {
    visibility: visible;
    top: 0px;
}
.socialmedia_modal .close,
.buscar_modal .close {
    cursor: pointer;
    width: 24px;
    right: 40px;
    margin-left: -5px;
    position: absolute;
    bottom: 10px;
}

/* modales */
.socialmedia_modal .content-sm,
.buscar_modal .content-sm {
    position: relative;
    display: block;
    justify-content: center;
    top: 30%;
    text-align: center;
    margin: auto;
    width: 55%;
    font-family: PT Sans;
}
.content-sm.src {
    width: 75%;
    top: 40%;
}
.src input {
    text-align: center;
    font-family: PT Sans;
    font-size: 15px;
    color: #fff;
    width: 80%;
    padding: 0 10px;
    height: 35px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: transparent;
    font-size: 1.2em;
}
.src input:focus {
    outline: none;
}
.src button {
    margin: 20px;
    font-size: 15px;
    background: #feee00;
    border: none;
    font-size: 1em;
    width: 150px;
    padding: 10px 20px;
    border-radius: 15px;
}
.src button:hover {
    color: #feee00;
    background-color: #fff;
}
.src button:focus {
    outline: none;
}
.socialmedia_modal .linea {
    height: 1px;
    position: relative;
    background-color: #feee00;
}

.content-sm .social-name {
    margin: 20px;
    display: grid;
    gap: 20px;
}

.social-name span {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #feee00;
}

/*estaba en desktop_frontend.ctp*/

.logo{
    position:absolute;
    z-index: 100;
    margin: 20px;
}
.share {
    position:absolute;
    bottom:300px;
    right:10px;
}
.logo a img{
    width:150px;
}
.container-noticia{
    margin-bottom: 30px;
    border: 1px solid #ccc;
}
.heart{
    position: absolute;
    right: 20px;
    z-index: 16;
    top: 20px;
}
.header-notices{
    font-family:Patua One;
    font-size:1.5em;
    margin: 30px auto;
    text-align: center;
    text-transform:capitalize;
}
.noticias{
    font-family:PT Sans;
}
.noticias img{
    width: 100%;
    object-fit: contain;
    margin-bottom: 14px;
}
.container-noticia .contenido {
    padding: 0px 18px 15px 18px;
}

.contenido h2{
    position:relative;
}
.contenido h2 span{
    display: block;
    position: absolute;
    width: 0%;
    background-color: #feee0094;
    height: 100%;
   mix-blend-mode: saturation;
}
.sector .fecha {
    margin: 10px 0;
}
.keyword{
    background-color: black;
    display:inline;
    font-size:1.2em;
    padding: 4px 5px;
    margin-bottom: 5px;
    color: #feee00;
    font-family: Patua One;
}

.footer-style{
    background: #000;
}