@font-face {
    src: url(../assets/fonts/PTSans.ttc);
    font-family: "ptsans";
}
@font-face {
    src: url(./fonts/ARENAC.TTF);
    font-family: "arena";
}
.divider {
    margin: 4px;
    display: block;
}
.menu {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "A B C";
}
.menu .weather {
    font-family: "ptsans";
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.weather .data {
    position: absolute;
    top: 0;
    z-index: 100;
    background: #feee00;
    font-size: 12px;
    padding: 0 5px;
}
.weather .temp {
    grid-area: "A";
    font-weight: 600;
    margin-left: 5px;
}
.weather img {
    margin-left: 5px;
}
.menu .logo {
    padding: 3px;
}
.menu .logo img {
    width: 100px;
}
.menu .social {
    color: #feee00;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}
.header-notices {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 3px 0;
    background-color: #000000;
}
.header-notices .region {
    font-family: "ptsans";
    text-align: center;
    position: relative;
    color: white;
    font-weight: 600;
}
section {
    display: block;
}
section .banner{
    width:100%;
    height:auto
}
section .info{
    text-align: left;
    width: 80%;
    background-color: white;
    position: relative;
    top: -30px;
    font-family: "ptsans";
    left: 20%;
   
}

section .info .titulo{
    font-size: 1.5em;
    font-weight: 600;
}
section .info .cuerpo{
   padding-right:20px;
}



.socialmedia_modal {
    visibility: hidden;
    background: #000000d6;
    position: fixed;
    width: 100vw;
    height: 100%;
    z-index: 1000;
    margin: -5px;
    top: -100%;
    transition: 0.5s all;
}
.socialmedia_modal.active {
    visibility: visible;
    top: 5px;
}
.socialmedia_modal .close {
    cursor: pointer;
    width: 24px;
    right: 10px;
    position: absolute;
    bottom: 10px;
}

.socialmedia_modal .content-sm {
    position: relative;
    display: block;
    justify-content: center;
    top: 30%;
    text-align: center;
    margin: auto;
    width: 55%;
}
/* .content-sm img{
    margin: 0 auto;
} */
.socialmedia_modal .linea {
    height: 1px;
    position: relative;
    background-color: #feee00;
}

.content-sm .social-name {
    margin: 20px;
    display: grid;
    gap: 20px;
}

.social-name span {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #feee00;
}

.publicidad {
    position: fixed;
    z-index: 999;
    top: 0;
    border: 5px solid #feee00;
    width: 100vw;
    height: 100vh;
    left: 0;
    overflow: hidden;
    display:none
}
.publicidad img {
    width: 100%;
    height: 100%;
}

.publicidad .cerrarPpal{
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    width: 24px;

}
